@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Sales web application from C# course.</p>
<address>
    <strong>For more information: @ViewData["Email"]</strong>
</address>
